*{
font-family: cursive;
margin:0;
padding: 0;
box-sizing: border-box;
scroll-padding-top: 4rem;
scroll-behavior: smooth;
list-style: none;
text-decoration: none;
}

:root{
    --main-color:pink;
    --secondary-color:#edeae3;
    --text-color:#1b1b1b;
    --bg-color:#fff;

    --box-shadow:2px 2px 10px 14px rgb(14 55 54 / 15%);
}
section{
    padding: 50px 100px;
}
img{
    width:100%;  
}
body{
    color:var(--text-color);

}
header{
    position:fixed;
    width:100%;
    top:0;
    right:0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid black;
    padding: 18px 100;
    background-color: green;
    transition: 0.5s linear;

}

.navbar{
    display: flex;
}
.navbar a{
    padding: 8px 17px;
    color:var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    background-color: var(--main-color);
    border-radius: 0.2rem;
    transition-property: background-color;
    transition-duration:0.5s ;
    transition-timing-function: linear;
}
.navbar .search:hover{
    text-transform: none;
}


#menu-icon{
    color: var(--bg-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
}
.home{
    width:100%;
    min-height:100vh;
    background-image: url("pics wedding/bak4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap: 1.5rem;
}
.home-text h1{
    font-size: 3.4rem;
    color: var(--main-color);
    text-transform:uppercase;
    letter-spacing: 1px;
}
.home-text p{
    font-size: 0.938rem;
    color:var(--bg-color);
    margin:0.5rem 0 1.4rem;
}


.home-text .btn{
    padding: 10px 40px;
    border-radius: 0.3rem;
    background:var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
}

.home-text .btn:hover{
    background: #8a6f4d;
}
.home .home-img img{
    border-radius: 1.8rem;
    width: 100%;
    height: 60%;
}
.about{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
  gap: 1.5rem;
}
.about-img img{
    border-radius: 1.8rem;
}
.about-text h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.1rem;
}
.container{
    text-align: center;
    padding: 3rem;
}
.container h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 2rem;
}
.image{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    width: 100%;
    padding: 1rem;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease ;
    background-color: rgba(255,255,255,0.9);
}




.thumbanail:hover{
    transform: scale(1.1);
}
.card-img-top{
    height: 200px;
    width: 100%;
}
.card{
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    gap: 1.5rem;
    margin: 0.5rem 0 1.1rem;
}
.card::before{
    content:"" ;
    position: absolute;
    left: -100%;
    top: 0%;
    background:pink ;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
}
.card:hover::before{
    left: 0%;
}
.customers h2{
    text-transform: uppercase;
}
.customers-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
}
.customers-container   .box{
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    text-align: center;

}
.customers-container  .box p{
    font-size: 0.938rem;
}
.customers-container .box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}
.customers-container .box img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.stars .bx{
    color: gold;
}
.customers-container .box:hover{
    background-color: var(--secondary-color);
    transform: scale(105%);
    transition: 1s  background-color linear,1s  transform linear;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 1.5rem;
}
.footer-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box  p{
    font-size: 0.938rem;
    margin-bottom: 10px;

}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.footer-box li a{
    color: var(--text-color);
}
.footer-box li a:hover{
    color:pink;
}
.contact{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.contact i{
    font-size: 20px;
    margin-right: 1rem;
}





